/* #container {width: 70%; margin: 0 auto;}

.hero {background-image: url( ../images/main-banner.jpg);
    width: 100%;
background-size:contain;
background-repeat: no-repeat;}

h1{font-size: 5rem;}
#button1{padding: 2rem}
 */

/* body {background-color: #222;} */

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

#container {
   max-width: 65%;
    margin: 0 auto;
}

nav {
    background-color: #222;
    text-align: center;
    text-decoration: none;
    color: #c78c06;
}

nav li {
    margin-top: 2rem;
}

#lix {
    display: block;
    background-color: #c78c06;
    color: #222;
    padding-top: 8rem;
    padding-bottom: 1rem;
}


.hero {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50rem;
}

#overlay {
    position: absolute;
    top: 20%;
    text-align: left;
    margin: 65px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8rem 2rem;
}

#overlay p,
h1 {
    color: white;
    opacity: 100%;
}

#overlay h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.about {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about p,
h2 {
    margin-left: 2rem;
}

.about img {
    margin-bottom: 1rem;
}

.about h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

#serv {
    margin-top: 3rem;
}

#serv1 {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

#serv1 img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

#serv1 h3 {
    margin-top: 2rem;
}

#serv1 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#serv1 p,
h3 {
    margin-left: 2rem;
}

button {
    margin-left: 10px;
    padding: 1rem;
    background-color: black;
    color: white;
}





#serv2 {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

#serv2 img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

#serv2 h3 {
    margin-top: 2rem;
}

#serv2 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#serv2 p,
h3 {
    margin-left: 2rem;
}

button {
    margin-left: 10px;
    padding: 1rem;
    background-color: black;
    color: white;
}






#serv3 {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

#serv3 img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

#serv3 h3 {
    margin-top: 2rem;
}

#serv3 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#serv3 p,
h3 {
    margin-left: 2rem;
}

button {
    margin-left: 10px;
    padding: 1rem;
    background-color: black;
    color: white;
}






#serv4 {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

#serv4 img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

#serv4 h3 {
    margin-top: 2rem;
}

#serv4 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#serv4 p,
h3 {
    margin-left: 2rem;
}

button {
    margin-left: 10px;
    padding: 1rem;
    background-color: black;
    color: white;
}






#serv5 {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

#serv5 img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

#serv5 h3 {
    margin-top: 2rem;
}

#serv5 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#serv5 p,
h3 {
    margin-left: 2rem;
}

button {
    margin-left: 10px;
    padding: 1rem;
    background-color: black;
    color: white;
}

.vision {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 315px;
}

.vision p,
.vision h2 {
    color: white;
}

#vision h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

#overlay2 {
    position: absolute;

    text-align: left;
    margin: 3rem 0px;
    padding: 0rem 0rem;
    max-width: 950px;
}

#overlay2 p,
button {
    margin-left: 2rem;
    margin-top: 2rem;
}

.john img,
.bob img {
    width: 100%;
    display: block;
}

.john,
.bob {
    background: #ffe6ac;
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 1rem;
}

.contact {
    padding: 1rem;
    padding-top: 2rem;
}

.contact h3 {
    margin: 2rem
}

#fullname,
#email,
#your_message {
    display: block;
    width: 100%
}

#your_message {
    padding-bottom: 4rem;
}

table {
    width: 100%;
}

th {
    background-color: #ffe6ac;
    height: 15px;
    padding: 1rem;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    width: 50%;
    padding: 1rem;
}


footer {
    color: #c78c06;
    padding: 2rem 1rem;
    line-height: 3rem;
}

footer a {
    color: #c78c06;
}


/* Desktop version */

@media screen and (min-width: 700px) and (max-width: 1500px)
 {

    nav li {
        list-style: none;
        display: flex;
        margin: auto;
        padding: 0%;
    }

    #container {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .about {
        height: 340px;
        width: 100%;
    }

    .about img {
        float: left;
        max-width: 40%;
        margin-left: 8rem;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }


    .services {
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 0.5rem;
    }

    #serv {
        margin-left: 10rem;
    }


    #overlay2 p,
    #overlay2 h2,
    #overlay2 button {
        margin-left: 10rem;
    }


    .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }



    .contact {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    footer{background-color:#222;}
    footer p {margin-left: 5rem;}
} 